@font-face {
  font-family: "LaserMetal";
  src: url("../fonts/LaserMetal.ttf");
}

h1, h2, h3, h4, h5, h6 { /*reset for mobile browsers */
  font-weight: normal;
}


body {
  background: #000000;
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #ffffff;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.content-wrapper {
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
  max-width: 960px;
}

.image-container {
  display: inline;
  vertical-align: middle;
  padding-left: 60px;
  padding-right: 60px;
}

.image-container img {
  height: 40%;
  width: 40%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.text-container {
  display: inline-block;
  vertical-align: top;
  word-wrap: break-word;
  margin-left: 30px;
}

.text-container h1 {
  width: 400px;
  font-family: "LaserMetal";
  font-size: 100px;
  color: #ffffff;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

.text-container p {
  height: auto;
  max-width: 400px;
}

.text-container b {
  font-size: 24px;
}

.footer-container img {
  height: auto;
  width: 100%;
}

.nav {
  background: #2F3F58;
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 3;
}

.nav-links {
  padding: 20px;
}

.nav-links ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.nav-links li {
  display: inline;
  padding-right: 10px;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  padding-right: 40px;
}

.image-slider-1 {
  display: inline-block;
  vertical-align: middle;
  height: 40%;
  width: 40%;
  max-height: 470px;
  max-width: 470px;
  margin-left: 30px;
  margin-bottom: 40px;
  z-index: 1;
  border: 20px solid #2f3f58;
  border-bottom: 30px solid #2f3f58;
  outline: 3px solid #fff;
  position: relative;
}

.image-slider-1::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -50px;
  left: 35px;
  width: 204px;
  height: 39px;
  background: url(../img/dk-blue-swirly.png) no-repeat;
  z-index: 2;
}

.image-slider-2 {
  display: inline-block;
  vertical-align: middle;
  height: 40%;
  width: 40%;
  max-height: 470px;
  max-width: 470px;
  margin-left: 30px;
  margin-bottom: 40px;
  z-index: 1;
  border: 20px solid #ddd1c1;
  border-bottom: 30px solid #ddd1c1;
  outline: 3px solid #fff;
  position: relative;
}

.image-slider-2::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -50px;
  left: 35px;
  width: 204px;
  height: 39px;
  background: url(../img/tan-swirly.png) no-repeat;
  z-index: 2;
}

.image-slider-3 {
  display: inline-block;
  vertical-align: middle;
  height: 40%;
  width: 40%;
  max-height: 470px;
  max-width: 470px;
  margin-left: 30px;
  margin-bottom: 40px;
  z-index: 1;
  border: 20px solid #c4744f;
  border-bottom: 30px solid #c4744f;
  outline: 3px solid #fff;
  position: relative;
}

.image-slider-3::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -50px;
  left: 35px;
  width: 204px;
  height: 39px;
  background: url(../img/orange-swirly.png) no-repeat;
  z-index: 2;
}

.image-slider-4 {
  display: inline-block;
  vertical-align: middle;
  height: 40%;
  width: 40%;
  max-height: 470px;
  max-width: 470px;
  margin-left: 30px;
  margin-bottom: 40px;
  z-index: 1;
  border: 20px solid #b9c5d2;
  border-bottom: 30px solid #b9c5d2;
  outline: 4px solid #fff;
  position: relative;
}

.image-slider-4::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -50px;
  left: 35px;
  width: 204px;
  height: 39px;
  background: url(../img/lt-blue-swirly.jpg) no-repeat;
  z-index: 2;
}

#home {
  background: #b9c5d2;
  padding-top: 80px;
}

#home img {
  width: 100%;
  display: block;
}

#date {
  background: #2f3f58;
}

#date img {
  display: block;
  margin: 0 auto;
}

#our-story {
  color: #ffffff;
  background: #2f3f58;
  padding-top: 100px;
}

#the-ceremony {
  color: #000000;
  background: #ddd1c1;
}

#hotel {
  color: #ffffff;
  background: #c4744f;
}

#sights-wrapper {
  text-align: center;
}

#sights {
  color: #000000;
  background: #b9c5d2;
}

#sights h1 {
  font-family: "LaserMetal";
  font-size: 120px;
  margin: 20px;
  color: #ffffff;
}

#sights iframe {
  margin: 40px;
  border: none;
}

#registry-wrapper {
  text-align: center;
}

#registry {
  color: #ffffff;
  background: #616e7f;
}

#registry h1 {
  font-family: "LaserMetal";
  font-size: 120px;
  margin: 20px;
}

#registry p {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 400px;
  margin-right: 400px;
}

#registry a {
  font-family: "LaserMetal";
  font-size: 90px;
  color: #ffffff;
  text-decoration: none;
}

#registry a:hover {
  color: #c4744f;
}

#registry .link-img {
  padding-left: 20px;
  padding-right: 20px;
}

#rsvp {
  color: #ffffff;
  background: #83a199;
  text-align: center;
}

#rsvp h1 {
  display: block;
  font-family: "LaserMetal";
  font-size: 120px;
  text-align: center;
  margin: 20px;
  padding-bottom: 20px;
}

#rsvp .form {
  display: block;
  margin: 0 auto;
}

#rsvp .form-field {
  padding: 10px 0px 10px 0px;
}

#rsvp .form-field input {
  width: 300px;
}

#rsvp .form-button button {
  border: 2px solid #ffffff;
  font-family: "LaserMetal";
  font-size: 60px;
  height: 100px;
  width: 200px;
  color: #ffffff;
  background-color: #83a199;
  border-radius: 0px;
  padding-right: 20px;
}

#rsvp .form-button button:hover {
  background-color: #616e7f;
}

#rsvp label {
  display: block;
}

#rsvp input {
  display: inline-block;
}
