@font-face {
  font-family: "LaserMetal";
  src: url("../fonts/LaserMetal.ttf");
}

body {
  background: #000000;
  margin: 0px;
  padding 0px;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
}

.content-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  width: 1200px;
}

.image-container {
  display: inline;
  vertical-align: middle;
  padding-left: 60px;
  padding-right: 60px;
}

.image-container img {
  height: 40%;
  width: 40%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.text-container {
  display: inline-block;
  vertical-align: top;
  word-wrap: break-word;
}

.text-container h1 {
  width: 400px;
  font-family: "LaserMetal";
  font-size: 100px;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

.text-container p {
  width: 500px;
}

.text-container b {
  font-size: 24px;
}

.footer-container img {
  max-width: 100%;
  height: auto;
  width: auto;
}

.nav {
  background: #2F3F58;
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 3;
}

.nav-links {
  padding: 20px;
}

.nav-links ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.nav-links li {
  display: inline;
  padding-right: 10px;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  padding-right: 40px;
}

.image-slider-1 {
  display: inline-block;
  vertical-align: middle;
  height: 40%;
  width: 40%;
  margin-left: 60px;
  margin-right: 60px;
  z-index: 1;
  border: 20px solid #2f3f58;
  border-bottom: 30px solid #2f3f58;
  outline: 4px solid #fff;
  position: relative;
}

.image-slider-1::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -50px;
  left: 35px;
  width: 204px;
  height: 39px;
  background: url(../img/whiteborder-ed3.png) no-repeat;
  z-index: 2;
}

.image-slider-2 {
  display: inline-block;
  vertical-align: middle;
  height: 40%;
  width: 40%;
  margin-left: 60px;
  margin-right: 60px;
  z-index: 1;
  border: 20px solid #ddd1c1;
  border-bottom: 30px solid #ddd1c1;
  outline: 4px solid #fff;
  position: relative;
}

.image-slider-2::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -50px;
  left: 35px;
  width: 204px;
  height: 39px;
  background: url(../img/whiteborder-ed4.png) no-repeat;
  z-index: 2;
}

.image-slider-3 {
  display: inline-block;
  vertical-align: middle;
  height: 40%;
  width: 40%;
  margin-left: 60px;
  margin-right: 60px;
  z-index: 1;
  border: 20px solid #c4744f;
  border-bottom: 30px solid #c4744f;
  outline: 4px solid #fff;
  position: relative;
}

.image-slider-3::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -50px;
  left: 35px;
  width: 204px;
  height: 39px;
  background: url(../img/whiteborder-ed2.png) no-repeat;
  z-index: 2;
}

.image-slider-4 {
  display: inline-block;
  vertical-align: middle;
  height: 40%;
  width: 40%;
  margin-left: 60px;
  margin-right: 60px;
  z-index: 1;
  border: 20px solid #b9c5d2;
  border-bottom: 30px solid #b9c5d2;
  outline: 4px solid #fff;
  position: relative;
}

.image-slider-4::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -50px;
  left: 35px;
  width: 204px;
  height: 39px;
  background: url(../img/whiteborder-ed.png) no-repeat;
  z-index: 2;
}

#home {
  background: #b9c5d2;
  padding-top: 80px;
}

#home img {
  width: 100%;
  display: block;
}

#date {
  background: #2f3f58;
}

#date img {
  display: block;
  margin: 0 auto;
}

#our-story {
  color: #ffffff;
  background: #2f3f58;
  padding-top: 100px;
}

#the-ceremony {
  color: #000000;
  background: #ddd1c1;
}

#hotel {
  color: #ffffff;
  background: #c4744f;
}

#sights {
  color: #000000;
  background: #b9c5d2;
}

#registry {
  color: #000000;
  background: #616e7f;
}

#registry .text-container {
  display: block;
  padding: 50px 40px 0px 40px;
}

#registry .text-container p {
  margin: 0px;
}

#rsvp {
  color: #000000;
  background: #83a199;
}

#rsvp .form {
  display: block;
  margin: 0 auto;
  width: 200px;
  padding: 50px;
}

#rsvp .form h1 {
  margin: 0px;
  padding-bottom: 20px;
}

#rsvp .form-field {
  padding: 8px 0px 8px 0px;
}

#rsvp .form-button {
  padding-top: 20px;
}

#rsvp label {
  display: block;
}

#rsvp input {
  display: inline-block;
}
